@font-face {
    font-family: 'Ivy Mode';
    src: url('../font/IvyMode-Bold.woff2') format('woff2'),
        url('../font/IvyMode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../font/IvyMode-Italic.woff2') format('woff2'),
        url('../font/IvyMode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../font/IvyMode-Light.woff2') format('woff2'),
        url('../font/IvyMode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../font/IvyMode-Regular.woff2') format('woff2'),
        url('../font/IvyMode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../font/IvyMode-SemiBold.woff2') format('woff2'),
        url('../font/IvyMode-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ivy Mode';
    src: url('../font/IvyMode-Thin.woff2') format('woff2'),
        url('../font/IvyMode-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

